/_old/
/vendor/
composer.lock
node_modules/
npm-debug.log
package-lock.json
yarn-error.log

/storage/*.jpg
/storage/*.key
/storage/*.index
/storage/search/*.index

run/var

.DS_Store
.env
.env.backup
Homestead.yaml
Homestead.json
/.nuxt
/.vagrant
.phpunit.result.cache
